<% provide(:title, 'Log in') %>

<div class="ui container login">
    <h1>Log in</h1>

    <%= form_for(:session, url: login_path, html: { class: 'ui form' }) do |f| %>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <%= f.check_box :remember_me, class: 'hidden' %>
            <%= f.label :remember_me do %>
                Remember me on this computer
            <% end %>
          </div>
        </div>

        <div class="field">
            <%= f.submit 'Log in', class: 'ui button' %>
        </div>

        <div class="field">
          <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
        </div>
    <% end %>
</div>