<% provide(:title, 'Sign up') %>

<div class="ui container login">
  <h1>Sign up</h1>
  <p>Sign up for our awesome services!</p>

    <%= render 'shared/error_messages' %>
    <%= form_for(@user, html: { class: 'ui form' }) do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation, 'Confirmation' %>
            <%= f.password_field :password_confirmation %>
        </div>

        <div class="field">
            <%= f.submit 'Create my account', class: 'ui button' %>
        </div>
    <% end %>
</div>